In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
cms_physician = pd.read_csv('../data/cms_physician_and_other_supplier-payments_2015-2017.csv')
#for line in open('u.item', encoding='ISO-8859-1'):
#read each line
cms_physician.columns

Index(['year', 'National Provider Identifier',
       'Last Name/Organization Name of the Provider',
       'First Name of the Provider', 'Middle Initial of the Provider',
       'Credentials of the Provider', 'Gender of the Provider',
       'Entity Type of the Provider', 'Street Address 1 of the Provider',
       'Street Address 2 of the Provider', 'City of the Provider',
       'Zip Code of the Provider', 'State Code of the Provider',
       'Country Code of the Provider', 'Provider Type',
       'Medicare Participation Indicator', 'Place of Service', 'HCPCS Code',
       'HCPCS Description', 'HCPCS Drug Indicator', 'Number of Services',
       'Number of Medicare Beneficiaries',
       'Number of Distinct Medicare Beneficiary/Per Day Services',
       'Average Medicare Allowed Amount', 'Average Submitted Charge Amount',
       'Average Medicare Payment Amount',
       'Average Medicare Standardized Amount'],
      dtype='object')

In [3]:
cms_physician = cms_physician[['City of the Provider','Number of Services']].copy()
cms_physician

   City of the Provider  Number of Services
0           CHATTANOOGA                  25
1             NASHVILLE                  27
2             KNOXVILLE                  30
3             KNOXVILLE                  60
4             NASHVILLE                  11
..                  ...                 ...
88            NASHVILLE                  29
89            KNOXVILLE                  13
90            KNOXVILLE                  39
91            NASHVILLE                  37
92            NASHVILLE                  11

[93 rows x 2 columns]

In [4]:
cms_physician = cms_physician.rename(columns = {'City of the Provider': 'city', 'Number of Services': 'cms_visits'})

In [5]:
cms_city_grouped = cms_physician.groupby(['city']).agg({'visits': "sum"}).reset_index()
cms_city_grouped

SpecificationError: nested renamer is not supported

In [ ]:
#export to csv
cms_city_grouped.to_csv('../cms_city_grouped.csv', index = False)