In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
smile_on = pd.read_csv('../data/SmileOn.csv', encoding = "ISO-8859-1", low_memory=False, header=2)
smile_on.head()

,CallReportNum,ReportVersion,LinkedToCallReportNum,CallDateAndTimeStart,CallDateAndTimeEnd,CallLength,CallerNum,PhoneWorkerNum,WasRealCall,WasHangup,...,SMILE ON 60+ Screening - Treatment Urgency,SMILE ON 60+ Screening - Untreated Decay,SMILE ON 60+ Site Information - Enroller ID,SMILE ON 60+ Site Information - Enroller Location,SMILE ON 60+ Treatment Plan - Action: Upload After Picture on Finish Tab,SMILE ON 60+ Treatment Plan - Is the treatment plan completed?,SMILE ON 60+ Treatment Plan - Was a treatment plan developed?,"SMILE ON 60+ Treatment Plan - Was the enrollee able to be restored to function (can chew) and ""social six"" esthetics (top front six teeth are present and disease free)",SMILE ON 60+ Verification of Eligibility - Transportation Arranged,SMILE ON 60+ Verification of Eligibility - Verification of Eligibility
0,81381827,SMILE ON 60+ Registration,NaN,11/25/2020 16:46,11/25/2020 16:48,2,3859874,136529,NaN,NaN,...,NaN,NaN,Matthew Walker Comprehensive Health Center Inc...,Provider Site,NaN,NaN,NaN,NaN,NaN,NaN
1,81379177,SMILE ON 60+ Registration,NaN,11/25/2020 15:40,11/25/2020 15:55,15,3859755,82341,NaN,NaN,...,NaN,NaN,NaN,Health Assist Office,NaN,NaN,NaN,NaN,NaN,NaN
2,81377435,SMILE ON 60+ Clinical,NaN,11/25/2020 15:02,11/25/2020 15:02,0,2518680,119506,NaN,NaN,...,NaN,NaN,Friends in Need Health Center - Kingsport,Provider Site,NaN,Yes,Yes,Yes,NaN,NaN
3,81375215,SMILE ON 60+ Clinical,NaN,11/25/2020 14:17,11/25/2020 14:17,0,3231923,143703,NaN,NaN,...,NaN,NaN,Christ Community Health Services- Frayser,Provider Site,NaN,NaN,NaN,NaN,NaN,NaN
4,81373934,SMILE ON 60+ Clinical,NaN,11/25/2020 13:50,11/25/2020 13:58,8,-1,135611,NaN,NaN,...,Urgent Care - within next week-pain or infection,Yes,Neighborhood Health - Lebanon,NaN,NaN,NaN,Yes,No,NaN,Yes

In [3]:
smile_on = smile_on.rename(columns = {'SMILE ON 60+ Screening - Last Screening Date': 'Last_Screen_Date',
                                      'SMILE ON 60+ Case Management Information - Dental Clinic' : 'Case_Mgmt_Clinic',
                                      'SMILE ON 60+ Clinic Information - Is patient of record date if yes last seen?' :'Date_Last_Seen',
                                      'SMILE ON 60+ Clinic Information - Was initial appointment made?' :'Initial_Appt_Made',
                                      'SMILE ON 60+ Demographic Information - When is the last time you visited your dentist?': 'Last_Dentist_Visit',
                                      'SMILE ON 60+ Oral Care Encounter - What care was provided to the enrollee? (Select all that apply)' : 'Care_Provided',
                                      'SMILE ON 60+ Screening - How often do you brush your teeth?' : 'Brush_Frequency',
                                      'SMILE ON 60+ Screening - Need for Periodontal Care' : 'Need_For_Care',
                                      'SMILE ON 60+ Screening - Root Fragments' : 'Root_Fragments',
                                      'SMILE ON 60+ Screening - Suspicious Soft Tissue Lesions' : 'Lesions',
                                      'SMILE ON 60+ Screening - Treatment Urgency' : 'Urgency',
                                      'SMILE ON 60+ Screening - Untreated Decay' : 'Decay',
                                      'SMILE ON 60+ Site Information - Enroller ID' : 'Clinic_Attended',
                                      'SMILE ON 60+ Treatment Plan - Is the treatment plan completed?' : 'Tx_Plan_Complete',
                                      'SMILE ON 60+ Treatment Plan - Was a treatment plan developed?' : 'Tx_Plan_Developed',
                                      'SMILE ON 60+ Treatment Plan - Was the enrollee able to be restored to function (can chew) and "social six" esthetics (top front six teeth are present and disease free)' : 'Function_Restored',
                                      'SMILE ON 60+ Base-line Oral and Conditions Questions - Are you limited in what you can eat?': 'limited_eating',
                                      'SMILE ON 60+ Base-line Oral and Conditions Questions - Dental Clinic': 'dental_clinic',
                                      'SMILE ON 60+ Site Information - Enroller Location': 'enroller_location',
                                      'SMILE ON 60+ Treatment Plan - can chew and "social six" esthetics': 'social_six',
                                      'SMILE ON 60+ Verification of Eligibility - Transportation Arranged': 'transportation_arranged'
                                       })
smile_on.head()

,CallReportNum,ReportVersion,LinkedToCallReportNum,CallDateAndTimeStart,CallDateAndTimeEnd,CallLength,CallerNum,PhoneWorkerNum,WasRealCall,WasHangup,...,Urgency,Decay,Clinic_Attended,enroller_location,SMILE ON 60+ Treatment Plan - Action: Upload After Picture on Finish Tab,Tx_Plan_Complete,Tx_Plan_Developed,Function_Restored,transportation_arranged,SMILE ON 60+ Verification of Eligibility - Verification of Eligibility
0,81381827,SMILE ON 60+ Registration,NaN,11/25/2020 16:46,11/25/2020 16:48,2,3859874,136529,NaN,NaN,...,NaN,NaN,Matthew Walker Comprehensive Health Center Inc...,Provider Site,NaN,NaN,NaN,NaN,NaN,NaN
1,81379177,SMILE ON 60+ Registration,NaN,11/25/2020 15:40,11/25/2020 15:55,15,3859755,82341,NaN,NaN,...,NaN,NaN,NaN,Health Assist Office,NaN,NaN,NaN,NaN,NaN,NaN
2,81377435,SMILE ON 60+ Clinical,NaN,11/25/2020 15:02,11/25/2020 15:02,0,2518680,119506,NaN,NaN,...,NaN,NaN,Friends in Need Health Center - Kingsport,Provider Site,NaN,Yes,Yes,Yes,NaN,NaN
3,81375215,SMILE ON 60+ Clinical,NaN,11/25/2020 14:17,11/25/2020 14:17,0,3231923,143703,NaN,NaN,...,NaN,NaN,Christ Community Health Services- Frayser,Provider Site,NaN,NaN,NaN,NaN,NaN,NaN
4,81373934,SMILE ON 60+ Clinical,NaN,11/25/2020 13:50,11/25/2020 13:58,8,-1,135611,NaN,NaN,...,Urgent Care - within next week-pain or infection,Yes,Neighborhood Health - Lebanon,NaN,NaN,NaN,Yes,No,NaN,Yes

In [4]:
#Change the time format
smile_on['CallDate'] = smile_on['CallDateAndTimeStart'].str.split(' ').apply(lambda x: str(x[0]))

In [5]:
last_visit = smile_on['Date_Last_Seen'].value_counts()
last_visit

Less than 12 months                    3036
More than 5 years or not applicable     196
1 to 2 years                            194
3 to 5 years                            102
Name: Date_Last_Seen, dtype: int64

In [6]:
visits = smile_on['CallerNum'].value_counts()

In [7]:
#create dataframe based on unique callers
patients = visits.to_frame().reset_index()
patients.head()

     index  CallerNum
0       -1         70
1  2441776         36
2  2431132         31
3  2416076         29
4  2466994         28

In [8]:
#fix columns
patients = patients.rename(columns = {'index': 'caller_num', 'CallerNum': 'number_of_visits'})
patients.head()

   caller_num  number_of_visits
0          -1                70
1     2441776                36
2     2431132                31
3     2416076                29
4     2466994                28

In [9]:
#remove unique callers -1,-2
patients = patients.loc[~patients['caller_num'].isin(['-1', '-2'])]
patients.shape

(8706, 2)

In [10]:
#add time column
patients['start_date'] = ''

for ind, row in smile_on.iterrows():
    patients.loc[ind, 'start_date'] = row['CallDateAndTimeStart']
patients.head()

   caller_num  number_of_visits        start_date
1   2441776.0              36.0  11/25/2020 15:40
2   2431132.0              31.0  11/25/2020 15:02
3   2416076.0              29.0  11/25/2020 14:17
4   2466994.0              28.0  11/25/2020 13:50
5   2860770.0              28.0  11/25/2020 13:04

In [11]:
duplicates = smile_on.loc[smile_on['CallerNum'] > 1].count()
duplicates

CallReportNum                                                             39952
ReportVersion                                                             39952
LinkedToCallReportNum                                                         1
CallDateAndTimeStart                                                      39952
CallDateAndTimeEnd                                                        39952
                                                                          ...
Tx_Plan_Developed                                                         17022
Function_Restored                                                         14272
transportation_arranged                                                    5823
SMILE ON 60+ Verification of Eligibility - Verification of Eligibility     8715
CallDate                                                                  39952
Length: 185, dtype: int64

In [12]:
unique_numbers = set(list(smile_on['CallerNum']))
unique_numbers

{2752522,
 2752526,
 2752529,
 2752531,
 2916373,
 2588696,
 2916379,
 2752540,
 2457629,
 2752543,
 2752546,
 3014692,
 2752550,
 2916391,
 2457640,
 2457643,
 2752556,
 2916399,
 2457649,
 3440690,
 3211313,
 2392120,
 2916409,
 3014715,
 2752573,
 2916418,
 2523202,
 3113033,
 2457673,
 2916430,
 2752594,
 2457682,
 2916437,
 2588760,
 3014749,
 2457694,
 2883677,
 2850916,
 3506278,
 2752616,
 2719852,
 2752620,
 2752625,
 2752627,
 2752629,
 2719865,
 2752638,
 2916481,
 2752646,
 2752651,
 3604626,
 2883731,
 2883738,
 2523312,
 2523317,
 2490562,
 2982083,
 2883792,
 2490576,
 2588885,
 3604695,
 2457815,
 3735769,
 2851036,
 2457824,
 3735779,
 2490599,
 2883817,
 2851050,
 3670255,
 2490610,
 3735795,
 2588916,
 2588918,
 2982135,
 2883830,
 3604730,
 3604735,
 3670281,
 2588938,
 3014928,
 2982163,
 2720022,
 2851102,
 3670305,
 2523426,
 2392365,
 3703086,
 3604783,
 3670320,
 3506481,
 2752819,
 3014969,
 2523452,
 2916674,
 3277122,
 2982212,
 2457929,
 3604810,
 2523467,
 2982219,
 2982221,
 2490707,
 3014996,
 3604821,
 3735899,
 2982241,
 3604839,
 2883949,
 3604847,
 2982256,
 3080565,
 2457976,
 2457978,
 2883964,
 2982271,
 2916736,
 3015042,
 2392454,
 3670407,
 2982293,
 3211670,
 2883998,
 2982304,
 2982307,
 2392486,
 2458023,
 2392494,
 2458031,
 3211697,
 2982322,
 2392502,
 2752962,
 2523589,
 3670476,
 3211727,
 2982358,
 2982360,
 2589150,
 2884064,
 2392550,
 3178986,
 3211756,
 2753005,
 2884083,
 2753013,
 2490870,
 3211768,
 2982394,
 2982402,
 2884104,
 2589192,
 2982412,
 2982414,
 3605007,
 2458127,
 2884112,
 3211794,
 3703327,
 2884127,
 3342895,
 2589231,
 2720305,
 2458162,
 2916919,
 3211835,
 2392636,
 2982459,
 2982464,
 3211845,
 3015238,
 2589261,
 2392653,
 2982479,
 3211860,
 3080791,
 2916954,
 3015267,
 3211886,
 3637876,
 2589300,
 2589306,
 2916987,
 2523772,
 2982523,
 3605119,
 3211908,
 3015305,
 3506829,
 2523790,
 2491028,
 2917014,
 2589337,
 2392732,
 2917022,
 2589344,
 2917027,
 2458277,
 3605164,
 3637935,
 2917040,
 3113650,
 2917050,
 2491080,
 2425550,
 3211987,
 2917084,
 3637981,
 2917104,
 2982645,
 3638012,
 3179267,
 2392836,
 2917130,
 3834647,
 2392860,
 3605281,
 2982709,
 3015483,
 3736380,
 2425664,
 3343193,
 2425703,
 3212140,
 3212141,
 3015542,
 3179389,
 3113871,
 2556824,
 3638169,
 2982825,
 2982828,
 2622392,
 2982842,
 3113917,
 3113922,
 3081165,
 3343310,
 2720722,
 2720723,
 3605462,
 3638231,
 3081177,
 2720733,
 3179486,
 3179493,
 3113959,
 2851822,
 3113968,
 2720754,
 3113987,
 2458632,
 3015691,
 3212299,
 2819089,
 3114002,
 2458647,
 2982942,
 3638309,
 2458661,
 3081255,
 2819117,
 2458695,
 2622542,
 3638352,
 3179601,
 2491474,
 2622551,
 3212379,
 2851940,
 3212393,
 2819179,
 3703916,
 3212402,
 3474548,
 3834997,
 3212410,
 3212416,
 3015811,
 3179654,
 2819220,
 3835030,
 2851993,
 2589850,
 2851999,
 3048609,
 2589859,
 2393254,
 2852009,
 2884780,
 2852013,
 2589869,
 2819253,
 3212470,
 2589882,
 3212478,
 2589895,
 3572938,
 2720984,
 3474650,
 2589923,
 2393322,
 2819311,
 2393329,
 2884855,
 2393338,
 2852095,
 3212544,
 3212545,
 2393345,
 2393358,
 2393359,
 2852123,
 3048740,
 2524454,
 2393386,
 3212601,
 2622780,
 3835206,
 3212633,
 3212636,
 2393436,
 3081570,
 3048808,
 3081580,
 2393452,
 2393460,
 3048826,
 3016060,
 2524542,
 3474818,
 2884997,
 2590088,
 3048845,
 3671440,
 2885015,
 3671457,
 3179938,
 3081638,
 3048873,
 2786729,
 2786733,
 2786738,
 2852279,
 2590136,
 2786744,
 2786747,
 2786749,
 3671492,
 2786757,
 3179978,
 2852303,
 3343825,
 2786771,
 2655703,
 2786778,
 2655707,
 3081696,
 2917860,
 2786790,
 3212775,
 2917864,
 2786796,
 2622961,
 2786803,
 3081720,
 2786810,
 2393594,
 2786816,
 2786822,
 2786828,
 2393620,
 3016217,
 3081764,
 2491944,
 2819625,
 2786865,
 2852405,
 2819639,
 3081789,
 3606080,
 2819650,
 2819657,
 2590289,
 3606098,
 2524754,
 3671636,
 2819668,
 2393688,
 2459227,
 2524770,
 3278441,
 3606140,
 3016317,
 3081868,
 3245711,
 2819727,
 2623123,
 3081888,
 2655904,
 2590370,
 2393764,
 2590374,
 3606183,
 2721448,
 2426535,
 2590387,
 3475124,
 2459318,
 2459325,
 2524880,
 3606227,
 3409633,
 2688744,
 3835626,
 3573492,
 2983669,
 2852599,
 3245827,
 2852613,
 2852632,
 2983704,
 2852634,
 2950946,
 2393897,
 2983721,
 3049259,
 2918188,
 2852662,
 3409721,
 2393915,
 3639106,
 2950981,
 2819912,
 2754382,
 2393936,
 2590549,
 2492247,
 2819931,
 2623325,
 2688863,
 2525032,
 2525033,
 2623349,
 2623356,
 2951037,
 2918270,
 2688894,
 2525057,
 2688899,
 2819975,
 2754442,
 3606411,
 3049358,
 2393999,
 2656144,
 2754456,
 2623392,
 2459558,
 2623405,
 3049392,
 2459569,
 3770291,
 2394038,
 2656190,
 2525120,
 3770308,
 3606472,
 2525130,
 2623440,
 3114966,
 2754521,
 2525150,
 2525151,
 2688990,
 2951137,
 2951138,
 2492391,
 2754538,
 2951150,
 3573743,
 2557946,
 3409914,
 2525183,
 3213315,
 2525190,
 2590731,
 2459660,
 2918419,
 2557972,
 2426900,
 2918426,
 3180577,
 3213348,
 2918436,
 2623527,
 2983976,
 2754605,
 2951214,
 3115064,
 2689081,
 2623546,
 2525243,
 2426946,
 3180612,
 2689096,
 3180618,
 2590797,
 2492494,
 3147859,
 3180629,
 3639383,
 2656347,
 2590815,
 2852962,
 2492514,
 3639400,
 3803244,
 2754688,
 2984066,
 3180677,
 3180681,
 2656395,
 2721937,
 3836053,
 3049625,
 2492570,
 2492572,
 2754722,
 2459815,
 3180720,
 2656437,
 2754742,
 2984124,
 3541190,
 2885830,
 2754762,
 3836111,
 2689231,
 2558161,
 2656466,
 2656469,
 3639520,
 2656488,
 3213547,
 3148012,
 2754798,
 3639537,
 2656497,
 2984182,
 2722045,
 3049749,
 3148054,
 2951449,
 2689306,
 3148066,
 2623779,
 2754854,
 2754855,
 3639597,
 2951481,
 2951489,
 2623812,
 3639624,
 2754896,
 2722137,
 2951516,
 2951517,
 2754911,
 2623840,
 2754918,
 2656618,
 2460013,
 2492783,
 2754928,
 2886004,
 3148151,
 2754943,
 2951554,
 2460041,
 2853260,
 3639693,
 2754959,
 2984338,
 2853268,
 2853269,
 3049885,
 2558367,
 3541407,
 2951586,
 2623908,
 3639717,
 2951589,
 3672494,
 2492850,
 2984374,
 2755011,
 2755019,
 3115475,
 2984410,
 2951646,
 2886120,
 3017196,
 2623981,
 3213805,
 3049967,
 2460145,
 2984435,
 3049973,
 2886136,
 3049981,
 2394626,
 3213832,
 2755091,
 2886165,
 3050012,
 3639838,
 2984486,
 2918953,
 3115562,
 2394668,
 2886192,
 2886202,
 2755140,
 3148362,
 3181133,
 2394702,
 2427478,
 2722396,
 2919005,
 2493022,
 2984556,
 3541615,
 2493042,
 3672698,
 2951808,
 3574400,
 3836557,
 2951829,
 2984599,
 3246744,
 3213985,
 2951844,
 2886308,
 2394791,
 2394798,
 3148464,
 3672755,
 2591412,
 2394806,
 2984637,
 3672771,
 3672772,
 3214020,
 2984643,
 3803866,
 3607277,
 2394861,
 2722554,
 3148542,
 2493185,
 2591511,
 2591513,
 2525982,
 3410719,
 2427678,
 3574562,
 2525986,
 2886436,
 2427682,
 2427687,
 2525994,
 2919221,
 2951992,
 2526011,
 2427710,
 3148608,
 3148611,
 3115854,
 2526030,
 3246932,
 2755415,
 3771226,
 2526046,
 2952032,
 2591587,
 3541862,
 2493287,
 2689900,
 3804015,
 2493302,
 2689917,
 2526084,
 2493316,
 3672968,
 3017609,
 2722698,
 2526095,
 3214229,
 2493333,
 3214233,
 2526106,
 3672990,
 2526121,
 3214258,
 3673015,
 2919359,
 3148736,
 2493375,
 3115971,
 2526149,
 3214282,
 2624464,
 3804113,
 3083217,
 2755537,
 2690005,
 3214294,
 2657244,
 3148765,
 2919389,
 3214303,
 3116005,
 3214311,
 2952170,
 3116011,
 2526190,
 3574769,
 3214322,
 2657268,
 2657273,
 2526204,
 3214333,
 2526209,
 3214341,
 2919435,
 3542035,
 2493460,
 3542061,
 3116077,
 3673137,
 3574838,
 2690103,
 2591812,
 2657350,
 2952263,
 3181651,
 2624595,
 2853984,
 3640417,
 3214444,
 3214448,
 2657392,
 2919538,
 2657412,
 3574917,
 2493574,
 3607690,
 3214474,
 3574924,
 2493580,
 2624652,
 2919565,
 3181716,
 2919575,
 3214488,
 3247256,
 2788504,
 2460838,
 2493606,
 3574964,
 2919604,
 3214519,
 3050692,
 2919621,
 3640520,
 3640522,
 3214538,
 3771599,
 2460883,
 2690268,
 2854122,
 2460916,
 3804409,
 2690299,
 2657536,
 2460931,
 2657550,
 2592017,
 2985244,
 2592028,
 2657572,
 2657575,
 2985261,
 2657583,
 2854192,
 2886962,
 2788663,
 3444025,
 3771709,
 3050817,
 3050818,
 2526534,
 2886995,
 2624862,
 2887017,
 3181931,
 3640699,
 2624892,
 2624891,
 2624894,
 3640709,
 2887055,
 3771794,
 2887060,
 3018138,
 2788763,
 2788768,
 2788770,
 2887081,
 2788777,
 2887085,
 3182000,
 2624945,
 2756023,
 2690487,
 2657729,
 2461126,
 2887111,
 2854358,
 2526694,
 2887145,
 3640813,
 2625005,
 3083763,
 3182069,
 2854401,
 2657794,
 2657796,
 2887175,
 3247625,
 2887178,
 2657803,
 2887192,
 2887198,
 3771935,
 2788896,
 3739172,
 3771945,
 2690606,
 2985525,
 2985527,
 3083831,
 3608124,
 2690620,
 3018301,
 2854465,
 3542607,
 3771984,
 3837542,
 2854502,
 2428524,
 2887285,
 3182201,
 2821753,
 3772033,
 2494081,
 2559618,
 2887305,
 2657930,
 2657938,
 3280532,
 3083935,
 2952864,
 2821793,
 2952872,
 2821805,
 2952877,
 3739312,
 2690737,
 2789042,
 2494133,
 2887352,
 2690746,
 2854586,
 3509949,
 2690756,
 2690762,
 2690765,
 2461394,
 2690773,
 2789080,
 2428632,
 2690779,
 2756316,
 2690786,
 2559721,
 2690795,
 2789101,
 2559727,
 2887408,
 2559730,
 2690806,
 3772155,
 3673852,
 2690811,
 2559739,
 3084027,
 2690818,
 2690824,
 2461448,
 2985740,
 2821902,
 2690831,
 2690834,
 2461462,
 2821916,
 2690847,
 2559775,
 2690849,
 2854690,
 2559780,
 3182373,
 2559782,
 3051302,
 2690854,
 2559786,
 2690860,
 3673907,
 3182389,
 2625337,
 2854720,
 2985794,
 3739466,
 2789199,
 2592599,
 3673945,
 3772250,
 2625370,
 2527071,
 3280740,
 2625381,
 2690918,
 2625387,
 2625391,
 3837808,
 3837809,
 2428791,
 3739515,
 2494334,
 2658176,
 2527112,
 3084178,
 3739540,
 2428820,
 2953111,
 2953118,
 2789283,
 2789287,
 3674029,
 3084215,
 3084222,
 3018692,
 2527177,
 2625481,
 2527189,
 2559958,
 2789343,
 3674085,
 3837926,
 3510249,
 2658282,
 2822123,
 3510257,
 3837953,
 3117059,
 2625540,
 2953230,
 2789390,
 3575833,
 2953244,
 2527264,
 2658337,
 2822185,
 3674154,
 2592826,
 2953279,
 3051584,
 3608647,
 2494547,
 3510357,
 2855004,
 2822239,
 3051624,
 2953320,
 2625652,
 2756736,
 2855042,
 2494598,
 3117195,
 ...}

In [13]:
caller_2441776 = smile_on.loc[smile_on['CallerNum'] == 2431132]
caller_2441776

,CallReportNum,ReportVersion,LinkedToCallReportNum,CallDateAndTimeStart,CallDateAndTimeEnd,CallLength,CallerNum,PhoneWorkerNum,WasRealCall,WasHangup,...,Decay,Clinic_Attended,enroller_location,SMILE ON 60+ Treatment Plan - Action: Upload After Picture on Finish Tab,Tx_Plan_Complete,Tx_Plan_Developed,Function_Restored,transportation_arranged,SMILE ON 60+ Verification of Eligibility - Verification of Eligibility,CallDate
766,80572613,SMILE ON 60+ Clinical,NaN,11/4/2020 13:47,11/4/2020 13:49,2,2431132,119491,NaN,NaN,...,No,Karis Dental Clinic - Cleveland,Provider Site,NaN,No,No,No,NaN,NaN,11/4/2020
1609,79831882,SMILE ON 60+ Clinical,NaN,10/15/2020 15:54,10/15/2020 15:55,1,2431132,119491,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,No,NaN,No,NaN,NaN,10/15/2020
2779,79039925,SMILE ON 60+ Clinical,NaN,9/23/2020 12:28,9/23/2020 12:28,0,2431132,119491,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,No,NaN,No,NaN,NaN,9/23/2020
3919,78182738,SMILE ON 60+ Clinical,NaN,9/1/2020 14:49,9/1/2020 14:50,1,2431132,119491,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,No,NaN,No,NaN,NaN,9/1/2020
5231,77249056,SMILE ON 60+ Clinical,NaN,8/6/2020 12:59,8/6/2020 13:02,3,2431132,119492,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,No,NaN,No,NaN,NaN,8/6/2020
5317,77203328,SMILE ON 60+ Clinical,NaN,8/5/2020 10:42,8/5/2020 10:42,0,2431132,119492,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,No,NaN,No,NaN,NaN,8/5/2020
6359,76456276,SMILE ON 60+ Clinical,NaN,7/14/2020 7:40,7/14/2020 7:40,0,2431132,119491,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,No,Yes,No,NaN,NaN,7/14/2020
7022,75903370,SMILE ON 60+ Clinical,NaN,6/29/2020 12:02,6/29/2020 12:03,1,2431132,119491,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,No,No,No,NaN,NaN,6/29/2020
7625,75329200,SMILE ON 60+ Clinical,NaN,6/16/2020 8:31,6/16/2020 8:31,0,2431132,119491,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,No,NaN,No,NaN,NaN,6/16/2020
8303,74795958,SMILE ON 60+ Clinical,NaN,6/1/2020 10:22,6/1/2020 10:22,0,2431132,119491,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,No,NaN,No,NaN,NaN,6/1/2020
8819,74223179,SMILE ON 60+ Clinical,NaN,5/18/2020 8:21,5/18/2020 8:22,1,2431132,119492,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,No,NaN,No,NaN,NaN,5/18/2020
10337,71603303,SMILE ON 60+ Clinical,NaN,3/11/2020 13:50,3/11/2020 13:52,2,2431132,119492,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,No,Yes,No,NaN,NaN,3/11/2020
10819,71431072,SMILE ON 60+ Clinical,NaN,3/5/2020 15:11,3/5/2020 15:12,1,2431132,119492,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,NaN,NaN,NaN,NaN,NaN,3/5/2020
12549,70781780,SMILE ON 60+ Clinical,NaN,2/12/2020 11:50,2/12/2020 11:50,0,2431132,119492,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,NaN,NaN,NaN,NaN,Yes,2/12/2020
17343,68681906,SMILE ON 60+ Clinical,NaN,12/2/2019 13:11,12/2/2019 13:12,1,2431132,119492,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,No,NaN,No,NaN,NaN,12/2/2019
18757,67963310,SMILE ON 60+ Clinical,NaN,11/7/2019 15:10,11/7/2019 15:11,1,2431132,119492,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,No,NaN,No,NaN,NaN,11/7/2019
20894,67083256,SMILE ON 60+ Clinical,NaN,10/10/2019 8:34,10/10/2019 8:35,1,2431132,119491,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,No,NaN,No,NaN,NaN,10/10/2019
21177,66988709,SMILE ON 60+ Clinical,NaN,10/7/2019 13:31,10/7/2019 13:33,2,2431132,119491,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,No,Yes,No,NaN,NaN,10/7/2019
31639,61788864,SMILE ON 60+ Clinical,NaN,4/2/2019 11:41,4/2/2019 11:42,1,2431132,119491,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,Yes,NaN,Yes,NaN,NaN,4/2/2019
32005,61639819,SMILE ON 60+ Clinical,NaN,3/26/2019 8:06,3/26/2019 8:08,2,2431132,119491,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,No,NaN,Yes,NaN,NaN,3/26/2019
32939,60970031,SMILE ON 60+ Clinical,NaN,3/6/2019 13:59,3/6/2019 14:00,1,2431132,119492,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,Yes,NaN,Yes,NaN,NaN,3/6/2019
33632,60581339,SMILE ON 60+ Clinical,NaN,2/20/2019 13:30,2/20/2019 13:30,0,2431132,119491,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,No,NaN,No,NaN,NaN,2/20/2019
34134,60200493,SMILE ON 60+ Clinical,NaN,2/8/2019 13:43,2/8/2019 13:43,0,2431132,119491,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,No,NaN,No,NaN,Yes,2/8/2019
35812,58716100,SMILE ON 60+ Clinical,NaN,12/13/2018 14:15,12/13/2018 14:16,1,2431132,119492,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,NaN,NaN,NaN,NaN,NaN,12/13/2018
36242,58430404,SMILE ON 60+ Clinical,NaN,12/3/2018 12:34,12/3/2018 12:35,1,2431132,119491,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,NaN,NaN,NaN,NaN,NaN,12/3/2018
36643,58233218,SMILE ON 60+ Clinical,NaN,11/20/2018 9:10,11/20/2018 9:10,0,2431132,119492,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,NaN,NaN,NaN,NaN,NaN,11/20/2018
37225,57698778,SMILE ON 60+ Clinical,NaN,11/5/2018 13:53,11/5/2018 13:54,1,2431132,119491,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,NaN,NaN,No,NaN,NaN,11/5/2018
37856,57234467,SMILE ON 60+ Clinical,NaN,10/18/2018 14:25,10/18/2018 14:25,0,2431132,119492,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,No,NaN,NaN,NaN,NaN,10/18/2018
38654,56592142,SMILE ON 60+ Clinical,NaN,9/26/2018 10:47,9/26/2018 10:48,1,2431132,119492,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,NaN,NaN,NaN,NaN,NaN,9/26/2018
38933,56385831,SMILE ON 60+ Clinical,NaN,9/18/2018 15:44,9/18/2018 15:49,5,2431132,119492,NaN,NaN,...,Yes,Karis Dental Clinic - Cleveland,Provider Site,NaN,No,No,No,No,Yes,9/18/2018
38984,56269404,SMILE ON 60+ Registration,NaN,9/14/2018 9:36,9/14/2018 9:41,5,2431132,119492,NaN,NaN,...,NaN,Karis Dental Clinic - Cleveland,Provider Site,NaN,NaN,NaN,NaN,NaN,NaN,9/14/2018

In [14]:
visits = smile_on['CallerNum'].value_counts()
visits

-1          70
 2441776    36
 2431132    31
 2416076    29
 2466994    28
            ..
 3825101     1
 3743280     1
 2653820     1
 3686036     1
 3821558     1
Name: CallerNum, Length: 8708, dtype: int64

In [15]:
patients = visits.to_frame().reset_index()
patients.head()

     index  CallerNum
0       -1         70
1  2441776         36
2  2431132         31
3  2416076         29
4  2466994         28

In [16]:
patients = patients.rename(columns = {'index': 'caller_num', 'CallerNum': 'number_of_visits'})
patients.head()

   caller_num  number_of_visits
0          -1                70
1     2441776                36
2     2431132                31
3     2416076                29
4     2466994                28

In [17]:
patients['success'] = ''
patients.head()

   caller_num  number_of_visits success
0          -1                70
1     2441776                36
2     2431132                31
3     2416076                29
4     2466994                28

In [18]:
for ind, row in smile_on.iterrows():
    if row['treatment_plan_completed?'] == 'Yes':
        patients.loc[ind, 'success'] = 'Yes'
    elif row["treatment_plan_completed?""] == 'No':
        patients.loc[ind, 'success'] ='No'
    else:
        patients.loc[ind, 'success'] ='unknown'
patients.head(5)

SyntaxError: EOL while scanning string literal (<ipython-input-18-6007530d8389>, line 4)

In [ ]:
#change time format
smile_on['CallDate'] = smile_on['CallDateAndTimeStart'].str.split(' ').apply(lambda x: str(x[0]))

In [ ]:
visits = smile_on['CallerNum'].value_counts()

In [22]:
#create dataframe based on unique callers
patients = visits.to_frame().reset_index()
patients.head()

     index  CallerNum
0       -1         70
1  2441776         36
2  2431132         31
3  2416076         29
4  2466994         28

In [23]:
#fix columns
patients = patients.rename(columns = {'index': 'caller_num', 'CallerNum': 'number_of_visits'})
patients.head()

   caller_num  number_of_visits
0          -1                70
1     2441776                36
2     2431132                31
3     2416076                29
4     2466994                28

In [24]:
#remove unique callers -1,-2
patients = patients.loc[~patients['caller_num'].isin(['-1', '-2'])]
patients.shape

(8706, 2)

In [25]:
#add time column
patients['start_date'] = ''

for ind, row in smile_on.iterrows():
    patients.loc[ind, 'start_date'] = row['CallDateAndTimeStart']
patients.head()

   caller_num  number_of_visits        start_date
1   2441776.0              36.0  11/25/2020 15:40
2   2431132.0              31.0  11/25/2020 15:02
3   2416076.0              29.0  11/25/2020 14:17
4   2466994.0              28.0  11/25/2020 13:50
5   2860770.0              28.0  11/25/2020 13:04

In [26]:
#add care_provided column
patients['care_provided'] = ''

for ind, row in smile_on.iterrows():
    patients.loc[ind, 'care_provided'] = row['Care_Provided']
patients.head()

,caller_num,number_of_visits,start_date,care_provided
1,2441776.0,36.0,11/25/2020 15:40,NaN
2,2431132.0,31.0,11/25/2020 15:02,5650 - Add tooth to existing partial denture - 30
3,2416076.0,29.0,11/25/2020 14:17,No Code - Denture step Mandibular: may be used...
4,2466994.0,28.0,11/25/2020 13:50,NaN
5,2860770.0,28.0,11/25/2020 13:04,No Code - Denture step Mandibular: may be used...

In [27]:
#add treatment plan column
patients['treatment_plan'] = ''

for ind, row in smile_on.iterrows():
    if row['Tx_Plan_Developed'] == 'Yes':
        patients.loc[ind, 'treatment_plan'] = ['treatment_plan'].count('Yes') + 1
    elif row['Tx_Plan_Developed'] == 'No':
        patients.loc[ind, 'treatment_plan'] ='no'
    else:
        patients.loc[ind, 'treatment_plan'] ='unknown'
patients.head()

,caller_num,number_of_visits,start_date,care_provided,treatment_plan
1,2441776.0,36.0,11/25/2020 15:40,NaN,unknown
2,2431132.0,31.0,11/25/2020 15:02,5650 - Add tooth to existing partial denture - 30,1
3,2416076.0,29.0,11/25/2020 14:17,No Code - Denture step Mandibular: may be used...,unknown
4,2466994.0,28.0,11/25/2020 13:50,NaN,1
5,2860770.0,28.0,11/25/2020 13:04,No Code - Denture step Mandibular: may be used...,1

In [28]:
#add treatment success column
patients['success'] = ''

for ind, row in smile_on.iterrows():
    if row['Tx_Plan_Complete'] == 'Yes':
        patients.loc[ind, 'success'] = ['success'].count('Yes') + 1
    elif row['Tx_Plan_Complete'] == 'No':
        patients.loc[ind, 'success'] ='no'
    else:
        patients.loc[ind, 'success'] ='unknown'
patients.head(25)

,caller_num,number_of_visits,start_date,care_provided,treatment_plan,success
1,2441776.0,36.0,11/25/2020 15:40,NaN,unknown,unknown
2,2431132.0,31.0,11/25/2020 15:02,5650 - Add tooth to existing partial denture - 30,1,1
3,2416076.0,29.0,11/25/2020 14:17,No Code - Denture step Mandibular: may be used...,unknown,unknown
4,2466994.0,28.0,11/25/2020 13:50,NaN,1,unknown
5,2860770.0,28.0,11/25/2020 13:04,No Code - Denture step Mandibular: may be used...,1,no
6,2412580.0,26.0,11/25/2020 13:03,NaN,unknown,unknown
7,2605896.0,25.0,11/25/2020 13:02,No Code - Denture step Mandibular: may be used...,1,no
8,3483924.0,25.0,11/25/2020 13:00,NaN,unknown,unknown
9,2508895.0,25.0,11/25/2020 11:46,140 - Limited Oral evaluation - problem focuse...,no,1
10,2384974.0,24.0,11/25/2020 11:33,NaN,unknown,unknown
11,2390065.0,23.0,11/25/2020 10:56,NaN,unknown,unknown
12,2758336.0,23.0,11/25/2020 10:19,Tele0999 unspecified diagnostic procedure- $50,1,no
13,2398755.0,23.0,11/25/2020 9:35,No Code - Denture step Mandibular: may be used...,unknown,no
14,2585132.0,23.0,11/25/2020 9:33,NaN,unknown,unknown
15,2413871.0,23.0,11/25/2020 9:30,220 - Intraoral - Periapical First Film - 5; 2...,unknown,unknown
16,2519897.0,23.0,11/25/2020 8:37,2335 - Resin four surfaces or w incis - Anteri...,1,1
17,2478100.0,22.0,11/25/2020 8:26,Tele0999 unspecified diagnostic procedure- $50,1,no
18,2425664.0,22.0,11/24/2020 16:40,NaN,unknown,unknown
19,3212379.0,22.0,11/24/2020 16:25,NaN,unknown,unknown
20,2572538.0,22.0,11/24/2020 16:14,NaN,unknown,unknown
21,2626906.0,22.0,11/24/2020 15:51,NaN,unknown,unknown
22,2384932.0,22.0,11/24/2020 15:10,2392 - Posterior two surface resin - 15,1,no
23,2509118.0,22.0,11/24/2020 14:55,No Code - Denture step Mandibular: may be used...,unknown,unknown
24,2758373.0,22.0,11/24/2020 14:34,NaN,unknown,unknown
25,2466431.0,22.0,11/24/2020 14:26,NaN,unknown,unknown

In [29]:
#add postal code column
patients['postal_code'] = ''

for ind, row in smile_on.iterrows():
    patients.loc[ind, 'postal_code'] = row['PostalCode']
patients.head()

,caller_num,number_of_visits,start_date,care_provided,treatment_plan,success,postal_code
1,2441776.0,36.0,11/25/2020 15:40,NaN,unknown,unknown,37212
2,2431132.0,31.0,11/25/2020 15:02,5650 - Add tooth to existing partial denture - 30,1,1,37857
3,2416076.0,29.0,11/25/2020 14:17,No Code - Denture step Mandibular: may be used...,unknown,unknown,38104
4,2466994.0,28.0,11/25/2020 13:50,NaN,1,unknown,NaN
5,2860770.0,28.0,11/25/2020 13:04,No Code - Denture step Mandibular: may be used...,1,no,37664

In [30]:
#add clinic column
patients['clinic_attended'] = ''

for ind, row in smile_on.iterrows():
    patients.loc[ind, 'clinic_attended'] = row['Clinic_Attended']
patients.head()

,caller_num,number_of_visits,start_date,care_provided,treatment_plan,success,postal_code,clinic_attended
1,2441776.0,36.0,11/25/2020 15:40,NaN,unknown,unknown,37212,NaN
2,2431132.0,31.0,11/25/2020 15:02,5650 - Add tooth to existing partial denture - 30,1,1,37857,Friends in Need Health Center - Kingsport
3,2416076.0,29.0,11/25/2020 14:17,No Code - Denture step Mandibular: may be used...,unknown,unknown,38104,Christ Community Health Services- Frayser
4,2466994.0,28.0,11/25/2020 13:50,NaN,1,unknown,NaN,Neighborhood Health - Lebanon
5,2860770.0,28.0,11/25/2020 13:04,No Code - Denture step Mandibular: may be used...,1,no,37664,Friends in Need Health Center - Kingsport

In [31]:
#add last visit column
patients['last_visit'] = ''

for ind, row in smile_on.iterrows():
    patients.loc[ind, 'last_visit'] = row['Date_Last_Seen']
patients.head()

,caller_num,number_of_visits,start_date,care_provided,treatment_plan,success,postal_code,clinic_attended,last_visit
1,2441776.0,36.0,11/25/2020 15:40,NaN,unknown,unknown,37212,NaN,NaN
2,2431132.0,31.0,11/25/2020 15:02,5650 - Add tooth to existing partial denture - 30,1,1,37857,Friends in Need Health Center - Kingsport,NaN
3,2416076.0,29.0,11/25/2020 14:17,No Code - Denture step Mandibular: may be used...,unknown,unknown,38104,Christ Community Health Services- Frayser,NaN
4,2466994.0,28.0,11/25/2020 13:50,NaN,1,unknown,NaN,Neighborhood Health - Lebanon,NaN
5,2860770.0,28.0,11/25/2020 13:04,No Code - Denture step Mandibular: may be used...,1,no,37664,Friends in Need Health Center - Kingsport,NaN

In [ ]:
#Create new csv with narrowed down data
patients_df = patients.to_csv('../data/patients.csv')

In [19]:
patients.shape

(8708, 3)

In [21]:
patients.head()

   caller_num  number_of_visits success
0          -1                70
1     2441776                36
2     2431132                31
3     2416076                29
4     2466994                28

In [33]:
g = sns.FacetGrid(patients, col="last_visit")
g.map(sns.pointplot, "start_date", "last visit", order=['clinic_attended])

SyntaxError: EOL while scanning string literal (<ipython-input-33-7b303b61b53f>, line 2)